.container {
  width: 100%;
  margin: 0 auto;
  background: white;
}

.banner {
  position: relative;
}

.banner img {
  display: block;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.body {
  width: 100%;
  height: auto;
  background: antiquewhite;
  margin: 0 auto;
  padding: 20px;
}

.heading {
  font-size: 36px;
  font-weight: bold;
  color: brown;
}

p {
  font-size: 16px;
}

a img {
  border: 0px;
  width: 200px;
}

.div-center {
  clear: both;
  text-align: center;
  position: relative;
  margin: auto;
  width: 100%;
  border: 3px solid green;
  padding: 10px;
}

.footer {
  clear: both;
  text-align: center;
  font-weight: bold;
  font-size: 16px;
}
